<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="keys" type="Movies.UI.Tools.KeysConfig, Movies.UI" allowLocation="true"
        allowDefinition="Everywhere"/>
    <section name="plugins" type="Movies.UI.Tools.PluginsConfig, Movies.UI" allowLocation="true"
        allowDefinition="Everywhere"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <keys>
    <open key="O" />
    <save key="S" />
    <load key="L" />
    <nextPage key="Right" />
    <prevPage key="Left" />
    <firstPage key="Up" />
    <lastPage key="Down" />
  </keys>
  <plugins>
    <pluginsFolder path="D:\git\isp-movies\src\plugins" />
  </plugins>
</configuration>